cities/.DS_Store
nature/.DS_Store
.DS_Store
*.zip
/media
*.pak
/.idea

/all-in-one-themes/images
all-in-one-themes/manifest.json
all-in-one-themes/popup.css
all-in-one-themes/popup.html
all-in-one-themes/popup.js
all-in-one-themes/themes.js
generate-from-jetbrains-themes.js
/node_modules
*.json
/.idea
*.crx
